/* Calendar Container */
.calendarContainer {
  width: 85%;
  margin: 3% auto;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
}

/* Background Image */
.calendarContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/Images/Background1.jpg') center/cover fixed;
  transform: rotate(180deg);
  z-index: -1;
}

/* Root Variables */
:root {
  --fc-event-bg-color: #f3f4f6;
  --fc-event-border-color: #5348cd;
  --fc-event-text-color: #000000;
  --fc-button-bg-color: #202020;
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-border-color: rgb(190, 190, 190);
}

/* Toolbar and Day Numbers */
.calendarContainer :global(.fc .fc-toolbar-title) {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.calendarContainer :global(.fc .fc-toolbar.fc-header-toolbar) {
  margin-bottom: 15px !important;
}

.calendarContainer :global(.fc .fc-daygrid-day-number) {
  position: absolute;
  left: 5px;
  color: black;
}

/* Buttons */
.calendarContainer :global(.fc .fc-button) {
  padding: 8px 15px;
}

.calendarContainer :global(.fc .fc-prev-button, .fc .fc-next-button) {
  color: white;
  background-color: var(--fc-button-bg-color);
  border: none;
}

.calendarContainer :global(.fc .fc-prev-button:hover, .fc .fc-next-button:hover) {
  background-color: black;
}

/* Events */
.calendarContainer :global(.fc .fc-daygrid-event) {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  /* 100% width with 10px reduction on each side */
  background-color: var(--fc-event-bg-color);
  color: var(--fc-event-text-color);
  border-radius: 4px;
  padding: 10px;
  border: none;
  border-left: 8px solid var(--fc-event-border-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: pointer;
  margin: 0px;
  transition: border-left 0.2s ease-in-out;
}

/* Day Grid and Events Area */
.calendarContainer :global(.fc .fc-daygrid-day-frame),
.calendarContainer :global(.fc .fc-daygrid-day-events) {
  position: relative;
  width: 100%;
}

/* Highlight Top Half of Each Day */
.calendarContainer .fc-daygrid-day::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 220, 40, 0.2);
  z-index: -1;
}

/* Header Cells */
.calendarContainer :global(.fc-col-header-cell-cushion) {
  color: black;
}

/* Text Overflow for Event Titles and Descriptions */
.calendarContainer :global(.fc .fc-daygrid-event .fc-event-title),
.calendarContainer :global(.fc .fc-daygrid-event .fc-event-description) {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  max-width: 100%;
}

/* Modal */
.modal {
  margin-top: 35px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s ease 0.3s;
}

.modal.show {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s ease 0s;
}

.modalContent {
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-25px);
  }

  to {
    transform: translateY(0);
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.addEventButton {
  background-color: #202020;
  /* Match your event border color */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.modalContent h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

/* Event Details Container */
.eventDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

/* Individual Row for Each Day */
.eventRow {
  border: 1px solid black;
  align-items: center;
  width: 100%;
  border-radius: 0px;
}

/* Event Date */
.eventDate {
  font-weight: bold;
  color: #333;
  text-align: center;
  background-color: #f5f5f5;
  font-size: 1.1rem;
  border-radius: 0px !important;
  padding: 5px;
}

/* Individual Event Time and Description Row */
.eventTimeDescription {
  display: grid;
  grid-template-columns: 0.5fr 1.2fr 0.3fr;
  align-items: center;
  position: relative;
  border-top: 1px solid black;
}



/* Event Time (hover effect on time) */
.eventTime {
  color: #363636;
  font-weight: 700;
  text-align: center;
  border-right: 1px solid black;
  padding: 10px;
}

/* Event Description (hover effect on description) */
.eventDescription {
  color: #000000;
  text-align: left;
  padding: 10px;
  padding-left: 15px;
  border-right: 1px solid black;
}

.eventAction{
  color: #000000;
  text-align: Center;
  padding: 10px;
  font-weight: 700;
}

.eventAction:hover{
  background-color: #e2e2e2;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Event Highlighting */
.highlightedEvent {
  border-left: 8px solid red !important;
}

/* Gray Styling for Multi-day Events After the First Day */
.calendarContainer :global(.fc .fc-daygrid-event-multi-day) {
  background-color: #d3d3d3;
  /* Light gray color */
  color: #555;
  /* Darker gray text for better visibility */
  border-left: 8px solid #d3d3d3;
  /* Border color matches the gray */
}

/* Border Color for Events on the First Day of Multi-Day Events */
.calendarContainer :global(.fc .fc-daygrid-event:first-of-type) {
  border-left: 8px solid var(--fc-event-border-color);
  /* Keep original border for the first day */
}

.noEventsMessage {
  background-color: #f3f4f6;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  color: #3f3f3f;
  ;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 25px;

}

.selectTripMessage {
  background-color: #f3f4f6;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  color: #838383;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 25px;
  font-style: italic;
}

.clickableText {
  text-decoration: underline;
  cursor: pointer;
}

.clickableText:hover {
  color: #913ffd;
}

@media screen and (min-width: 2560px) and (min-height: 1440px) {

}