body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/Images/background3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80%;
  max-width: 1000px;
  padding: 40px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  outline: 1px solid #000000;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: auto;
}

.container {
  position: relative;
  padding: 5px;
  border-radius: 0px;
  max-width: 1000px;
  width: 100%;
  z-index: 1;
  margin-right: 0px !important;
}

.main-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

.subheading {
  font-size: 16px;
  color: #5a5a5a;
  margin-bottom: 30px;
}

.section-heading {
  font-size: 22px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #000;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  gap: 5px;
}

.input-group label {
  flex: 0 0 100px;
  font-size: 16px;
  margin-right: 5px;
  color: #000;
}

.input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 30px;
}

.save-button {
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.save-button:hover {
  background-color: #444;
  transform: scale(1.05);
}

.delete-button {
  padding: 12px 24px;
  background-color: #FF0404;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
  background-color: #d30303;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .main-heading {
    font-size: 24px;
    text-align: center;
  }

  .subheading {
    font-size: 14px;
    text-align: center;
  }

  .input-group {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px; 
  }

  .input-group label {
    margin-bottom: 2px;
    width: 100%;
  }

  .input {
    width: 100%; 
    margin-bottom: 5px; 
  }

  .button-group {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .save-button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .main-heading {
    font-size: 20px;
  }

  .subheading {
    font-size: 12px;
  }

  .input {
    font-size: 14px;
    padding: 8px;
  }

  .save-button {
    font-size: 14px;
  }
}
